# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# builds
build/
build_debug/
build_release/
build_debug_gcc/
build_release_gcc/
build_debug_clang/
build_release_clang/
build_debug_msvc/
build_release_msvc/

# editors, ides
.vscode/
.idea/
